* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

/*start navigation*/
nav {
    background-color: #262626;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 1.25em;
}

nav li a {
    padding: 1.25em;
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav li a:hover {
    color: #b3b3b3;
}
/*end navigation*/

#logo img {
    position: absolute;
    margin-top: 0.9em;
    margin-left: 0.6em;
}/*positions logo img on top of nav bar*/

main {
    padding: 0.9em;
    width: 20em;
    margin: auto;
    text-align: center;
}

/*start footer*/
footer {
    margin-top: 4.3em;
    padding: 0.9em;
    background-color: #262626;
    color: white;
}/*adds spacing between main content and footer*/

footer li {
    list-style-type: none;
}
/*end footer*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    footer {
        width: 100vw;
    }

    nav {
      width: 100vw;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        width: 100vw;
    }

    nav {
      width: 100vw;
    }

    main {
        width: 35em;
    }
}

@media only screen and (min-width: 992px) {
    footer {
        width: 100vw;
    }

    nav {
      width: 100vw;
    }

    main {
        width: 50em;
    }
}

  @media only screen and (min-width: 1200px) {
    footer {
        width: 100vw;
    }

    nav {
      width: 100vw;
    }
    
    main {
        width: 50em;
    }
}