h1 {
    font-family: 'Pirata One', serif;
    font-size: 3em;
}

main div img {
    width: 25em;
    height: 15.62em;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}