/*BUTTONS START*/
input[type="reset"] {
    color: #900000;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #ffd4d4;
    color: black;
}
  
input[type="submit"] {
    background-color: #900000;
    color: white;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ff3030;
}
/*BUTTONS END*/

/*FORM CONTROLS*/
input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}
/*FORM CONTROLS END*/

.container {
    display: flex;
}