* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

/*start navigation*/
nav {
    background-color: #262626;
}

nav.wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}