* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

/*start navigation*/
nav {
    background-color: #262626;
}

nav.wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav li a:hover {
    background-color: white;
    color: #262626;
}