h1 {
    font-family: 'Pirata One', serif;
    font-size: 3em;
}

section div img {
    width: 12em;
    height: 12em;
}

.members { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify; /*Places images and paragraphs next to each other*/
}

div p {
    margin: 3.7em; /*Spacing between paragraphs and team members' images*/
}

section h2 {
    margin-top: 3em; /*Separates Harold's info from Anna*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  section div img {
      width: 7em;
      height: 7em;
  }
}
