h1 {
    font-family: 'Pirata One', serif;
    font-size: 3em;
}

main div img {
    width: 25em;
    height: 15.62em;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /*Places portfolio images next to each other and centered with the main title*/
}

.harold {
    margin-top: 3em; /*Visually separates the team member's mini portfolios*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .gallery {
        flex-wrap: wrap;
    }
}