.hero {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*bg styles*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/heroback.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-family: 'Pirata One', serif;
    font-size: 5em;
}



/*start footer*/
footer {
    margin-top: 70px;
    padding: 15px;
    background-color: #262626;
    color: white;
}/*adds spacing between main content and footer*/

footer li {
    list-style-type: none;
}
/*end footer*/