h1 {
    font-family: 'Pirata One', serif;
    font-size: 3em;
}

/*BUTTONS START*/
input[type="reset"] {
    color: #900000;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #ffd4d4;
    color: black;
}
  
input[type="submit"] {
    background-color: #900000;
    color: white;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ff3030;
}
/*BUTTONS END*/

/*FORM CONTROLS*/
input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.75em;
  border: 0.06em solid #ccc;
  border-radius: 0.25em;
  margin-top: 0.375em;
  margin-bottom: 1em;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 0.75em;
  border: 0.06em solid #ccc;
  border-radius: 0.25em;
  margin-top: 0.375em;
  margin-bottom: 1em;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 1em;
  border: 0.06em solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}
/*FORM CONTROLS END*/

article div ul li {
    list-style-type: none;
    margin-left: -2em;
}

.moreinfo {
    margin-top: 5em;
}

iframe {
    width: 31em;
    height: 28em;
}