/*BUTTONS START*/
input[type="reset"] {
    color: #900000;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #ffd4d4;
    color: black;
}
  
input[type="submit"] {
    background-color: #900000;
    color: white;
    padding: 0.75em 1.25em;
    border: 0.06em solid #900000;
    border-radius: 0.25em;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #ff3030;
}
/*BUTTONS END*/

